body{

margin:0;
font-family:Arial,sans-serif;
background:#eef7ff;

}


header{

background:#0077b6;
color:white;
text-align:center;
padding:25px;

}


.logo{

font-size:50px;

}


.page{

display:none;
padding:20px;

}


.active{

display:block;

}


button,select{

width:100%;
padding:15px;
margin-top:15px;
border-radius:12px;
border:none;
font-size:17px;

}


button{

background:#0077b6;
color:white;

}


button:hover{

background:#023e8a;

}


.card{

background:white;
padding:15px;
border-radius:15px;
margin-top:15px;
box-shadow:0 3px 8px #ccc;

}


.telephone{

color:#0077b6;
font-weight:bold;

}


.menu{

display:flex;
flex-direction:column;
gap:10px;

}